<div class="container">
  <ng-alert [CONTENIDO]="TEXTOS.INSTRUCCIONES"></ng-alert>
  <carga-documento
    [idTipoTRamite]="idTipoTramite"
    [idSolicitud]="idSolicitud"
    [datosUsuario]="datosUsuario"
    [cargaArchivosEvento]="cargaArchivosEvento"
    [regresarSeccionCargarDocumentoEvento]="reenviarRegresarSeccion"
    (cargaRealizada)="documentosCargados($event)"
    (cargaEnProgreso)="onCargaEnProgreso($event)"
    (activarBotonCargaArchivos)="actualizarEstadoBotonCargarArchivos($event)"
  ></carga-documento>

  <div class="d-flex justify-content-end w-100 mb-4 my-3">
    <button [disabled]="!activarBotonCargaArchivos" class="btn-primary rounded" (click)="confirmarCargaArchivos()">CARGAR</button>
 </div>

</div>
