<div class="container-fluid ps-1">
    <ng-titulo [titulo]="'Manifiesto'"></ng-titulo>
    <form [formGroup]="manifiestoFormulario">
                <div class="alert alert-info">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-1">
                            <input class="form-check-input me-1" type="checkbox" id="mensaje" formControlName="declaracion"   (change)="setValorStore(manifiestoFormulario, 'declaracion')"/>
                  <label class="form-check-label ms-2 mt-2" for="mensaje" >
                  <span [ngClass]="
                     manifiestoFormulario.get('declaracion')?.invalid &&
                     (manifiestoFormulario.get('declaracion')?.touched ||
                     manifiestoFormulario.get('declaracion')?.dirty)
                     ? 'mensaje-error'
                     : ''
                     "
                     style="font-size: 2rem; vertical-align: middle; margin-left: 2px;">
                  *</span>
                  </label>
                        </div>
                        
                        <div class="col-md-10">
                            <p class="text-justify">
                                Declaro bajo protesta de decir
                                verdad que retornaré oportunamente al
                                extranjero la mercancía importada temporalmente
                                a los Estados Unidos Mexicanos y a no realizar actos
                                u omisiones que configuren delitos o infracciones por
                                el indebido uso o destino de las mismas
                            </p>
                        </div>
                       
                    </div>
                </div>
                <div class="text-danger mt-1" *ngIf="manifiestoFormulario.controls['declaracion'].invalid && 
  (manifiestoFormulario.controls['declaracion'].touched)">
   <span class="mensaje-error">Este campo es obligatorio</span>
</div>
    </form>
</div>