.botones-exortar-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
}

.form-consultar-autorizaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}


.check-container#tipoUbicacion {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 2rem;
}

.btn-accion-form.container {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 3rem;

    button {
        width: fit-content;
    }
}
.header-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.body-colapse {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.body-colapse.collapsed {
  max-height: 0;
}


.body-colapse, .header-collapse{
    border: 1px solid #ddd;
}