<app-manifest-info (onManifestRequested)="getMaster()"/>

<div class="row">
    <div class="col-md-12 mt-3">
      <h2>Guías Master</h2>
      <hr class="red" />
      <div class="row text-center">
         <app-table
          title="Guías Master"
          [tableData]="tableMasterData"
          [borderedStyle]="true"
          [isLoading]="isLoadingMasterDataTable"
          [hiddenData]="hiddenMasterData"
          [error]="errorMasterData"
          [textCenterTitleColums]="true"
          [hasRedirect]="true"
          (onRowClicked)="onMasterSelected($event.hiddenData)"
        />
      </div>
      @if(masterSelected()) {
        <h2 class="mt-5">Detalle Master</h2>
        <hr class="red" />
        <div class="row text-center">
          <app-table
            title="Detalle Master"
            [tableData]="tableMasterSelectedData"
            [borderedStyle]="true"
            [isLoading]="isLoadingMasterSelectedDataTable"
            [hiddenData]="hiddenMasterSelectedData"
            [hasRedirect]="true"
            [textCenterTitleColums]="true"
            [error]="errorMasterSelectedData"
            (onRowClicked)="onMasterDetailsSelected($event.hiddenData)"
          />
        </div>
      }

      @if(masterDetailSelected()) {
        <h2 class="mt-5">Guías House</h2>
        <hr class="red" />
        <div class="row text-center">
          <app-table
            title="Guías House"
            [tableData]="tableHouseData"
            [borderedStyle]="true"
            [textCenterTitleColums]="true"
            [isLoading]="isLoadingHouseDataTable"
            [error]="errorHouseData"
          />
        </div>
      }
      </div>
  </div>

