<div class="page">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <h5 class="form-label text-start">Fracción arancelaria:</h5>
        <p class="form-label text-start">
          {{ encabezadoFraccionArancelaria }}
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h5 class="form-label text-start">Anexo I I:</h5>
        <p class="form-label text-start">{{ encabezadoAnexoII }}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h5 class="form-label text-start">Tipo:</h5>
        <p class="form-label text-start">{{ encabezadoTipo }}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <h5 class="form-label text-start">U M T:</h5>
        <p class="form-label text-start">{{ encabezadoUmt }}</p> 
      </div>
    </div>
  </div>
<div class="page">
  <ng-titulo titulo="Proveedor/Cliente" />
  <form [formGroup]="formularioProveedorCliente">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="descripcion" class="form-label text-start"
            >Descripción Comercial*:</label
          >
          <textarea
            id="descripcion"
            class="form-control txt-area-custom"
            formControlName="descripcionComercial"
            maxlength="100"
            (change)="setValoresStore(formularioProveedorCliente, 'descripcionComercial', 'setDescripcionComercial')"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="form-group">
          <app-catalogo-select
            [catalogo]="paisDestinoCatalog"
            [label]="'País destino'"
            [placeholder]="'Seleccione una opción'"
            [required]="true"
            [isDisabled]="false"
            name="paisDestino"
            formControlName="paisDestino"
            (selectionChange)="cambioPaisDestino($event)"
            (change)="setValoresStore(formularioProveedorCliente, 'paisDestino', 'setPaisDestino')"
          ></app-catalogo-select>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label" for="rfc">RFC/TAX ID Cliente*:</label>
          <input
            class="form-control min-hgt uppercase"
            id="rfc"
            formControlName="rfc"
            type="text"
            maxlength="100"
            (change)="setValoresStore(formularioProveedorCliente, 'rfc', 'setRfc')"
          />
          <div *ngIf="formularioProveedorCliente.get('rfc')?.touched && formularioProveedorCliente.get('rfc')?.invalid" class="text-danger mt-1">
            <span *ngIf="formularioProveedorCliente.get('rfc')?.errors?.['required']">
              Este campo es obligatorio.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label" for="razonSocialCliente"
            >Razón social Cliente*:</label
          >
          <input
            class="form-control min-hgt uppercase"
            id="razonSocialCliente"
            formControlName="razonSocialCliente"
            type="text"
            libUppercase
            maxlength="100"
            (change)="setValoresStore(formularioProveedorCliente, 'razonSocialCliente', 'setRazonSocialCliente')"
          />
          <div *ngIf="formularioProveedorCliente.get('razonSocialCliente')?.touched && formularioProveedorCliente.get('razonSocialCliente')?.invalid" class="text-danger mt-1">
            <span *ngIf="formularioProveedorCliente.get('razonSocialCliente')?.errors?.['required']">
              Este campo es obligatorio.
            </span>
            </div>
        </div>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-between align-items-center w-100 mt-3">
    <div class="text-muted" id="lblCamposObligatorios">
        * Campos obligatorios
    </div>
    <div>
      <button
        type="button"
        class="btn btn-danger me-3"
        (click)="limpar()"
      >
        Limpar
      </button>

      <button
        type="button"
        class="btn btn-primary"
        (click)="aggregar()"
      >
        Agregar
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <app-tabla-dinamica
      [tipoSeleccionTabla]="tablaSeleccion"
      [configuracionTabla]="PROVEEDOR_CLIENTE_TABLA_CONFIG"
      [datos]="proveedorClienteTablsDatos"
      (listaDeFilaSeleccionada)="proveedorClienteSeleccinados($event)"
      [mode]="'client'"
      [showPagination]="true"
      [totalItems]="proveedorClienteTablsDatos.length"
      [itemsPerPage]="5"
    ></app-tabla-dinamica>
  </div>

  <div class="row justify-content-end">
    <button
      type="button"
      class="btn btn-danger col-auto mt-3 me-3"
      (click)="elimiar()"
    >
      Eliminar
    </button>

    <button
      type="button"
      class="btn btn-primary col-auto pull-right float-end mt-3 ml-3"
      (click)="eidtar()"
    >
      Editar
    </button>
  </div>

  <div class="row justify-content-end mt-3">
    <button
      type="button"
      class="btn btn-danger col-auto"
      (click)="regrsarAnnexoI()"
    >
      Regresar Anexo I
    </button>
  </div>
</div>
@if (agregarNotification) {
<section>
    <lib-notificaciones [notificacionInput]="agregarNotification">
    </lib-notificaciones>
</section>
}
@if (nuevaNotificacion) {
<section>
    <lib-notificaciones [notificacionInput]="nuevaNotificacion">
    </lib-notificaciones>
</section>
}

