<app-terceros-relacionados
[tramiteID]="'260207'"
[fabricanteTablaDatos]="(tercerosDatos$ | async)?.fabricanteTablaDatos || []"
[destinatarioFinalTablaDatos]="(tercerosDatos$ | async)?.destinatarioFinalTablaDatos || []"
[proveedorTablaDatos]="(tercerosDatos$ | async)?.proveedorTablaDatos || []"
[facturadorTablaDatos]="(tercerosDatos$ | async)?.facturadorTablaDatos || []"
[formularioDeshabilitado]="esFormularioSoloLectura"
[elementosRequeridos]="elementosRequeridos"
[idProcedimiento]="idProcedimiento"
(updateFabricanteTablaDatos)="addFabricantes($event)"
(updateDestinatarioFinalTablaDatos)="addDestinatarios($event)"
(updateProveedorTablaDatos)="addProveedores($event)"
(updateFacturadorTablaDatos)="addFacturadores($event)"
[estaOculto]="true"
#TercerosRelacionadosComponent
></app-terceros-relacionados>
