<app-terceros-relacionados
#tercerosRelacionadosComponent
[fabricanteTablaDatos]="fabricanteTablaDatos"
[proveedorTablaDatos]="proveedorTablaDatos"
[idProcedimiento]="idProcedimiento"
[elementosRequeridos]="['proveedor','fabricante']"
(fabricanteEventoModificar)="fabricanteEventoModificar($event)"
(proveedorEventoModificar)="proveedorTablaModificar($event)"
[formularioDeshabilitado]="formularioDeshabilitado"
(updateFabricanteTablaDatos)="addFabricantes($event)"
(updateProveedorTablaDatos)="addProveedores($event)"
></app-terceros-relacionados>
