<div class="container mb-5">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
          (keydown.space)="seleccionaTab(1)" role="button" tabindex="0">Solicitante</a>
      </li>
      <li [ngClass]="indice === 2 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
          (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Cancelar Inscripción de Reportes
          Mensuales</a>
      </li>
    </ul>
    <ng-container>
      @switch (indice) {
      @case (1) {
      <solicitante></solicitante>

      <div class="pt-5">
        <div class="row mb-3">
          <ng-titulo titulo="Folio original" />
          <div class="col-md-8 mb-3 form-group">
            <label>Folio:</label>
            <input [value]="folioTramitePadre" type=" text" class="form-control" disabled />
          </div>
        </div>
      </div>
      }
      @case (2) {
      <div *ngIf="esLectura" class="container mb-5">
        <ng-titulo titulo="Folio original" />
        <div class="row mb-3">
          <div class="col-md-4 mb-3 form-group">
            <label>Folio Original a Cancelar:</label>
            <input [value]="folioTramitePadre" type=" text" class="form-control" disabled />
          </div>
        </div>
      </div>
      } }
    </ng-container>
  </div>
</div>