<div class="container">
    @if(
        tratado == '102' || tratado == '103' || tratado == '104' || tratado == '105' || tratado == '106'
    ){
        <form [formGroup]="certificadoALANDI">
            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="observaciones">Observaciones:</label>
                    <textarea id="observaciones" class="form-control" formControlName="observaciones" [readonly]="true" style="height: 80px;"></textarea>
                </div>
            </div>
            <div class ="row mt-4">
                <div class="col-md-12 mb-4">
                    <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="datosTabla"
                        [tipoSeleccionTabla]="seleccionTabla"></app-tabla-dinamica>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="numeroCertificado">Número de certificado de origen:</label>
                    <input type="text" class="form-control" id="numeroCertificado" formControlName="numeroCertificado" readonly>
                </div>
            </div>
        </form>
    }@else if(
        tratado == '107'
    ){
        <app-datos-del-destinatario [certificadoDatos]="certificadoDatos"></app-datos-del-destinatario>
        <app-domicilio-del-destinatario [certificadoDatos]="certificadoDatos" [showObservations]="false"></app-domicilio-del-destinatario>
        <ng-titulo titulo="Información relativa al transporte"/>
        <form [formGroup]="transporteForm">
            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="medioTransporte">Medio de transporte:</label>
                    <input type="text" class="form-control" id="medioTransporte" formControlName="medioTransporte" readonly>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="rutaCompleta">Ruta completa:</label>
                    <input type="text" class="form-control" id="rutaCompleta" formControlName="rutaCompleta" readonly>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="puertoEmbarque">Puerto de embarque:</label>
                    <input type="text" class="form-control" id="puertoEmbarque" formControlName="puertoEmbarque" readonly>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="puertoDesembarque">Puerto de desembarque:</label>
                    <input type="text" class="form-control" id="puertoDesembarque" formControlName="puertoDesembarque" readonly>
                </div>
            </div>
        </form>

        <ng-titulo titulo="Datos del certificado"/>
        <form [formGroup]="certificadoForm">
            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="tratado-acuerdo-clave">Tratado / Acuerdo:</label>
                    <input type="text" class="form-control" id="tratado-acuerdo-clave" formControlName="tratadoAcuerdoClave" readonly>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="pais-bloque-clave">País / Bloque:</label>
                    <input type="text" class="form-control" id="pais-bloque-clave" formControlName="paisBloqueClave" readonly>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="ficha-expedicion">Ficha de expedición:</label>
                    <input type="text" class="form-control" id="ficha-expedicion" formControlName="fichaExpedicion" readonly>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="fecha-vecimiento">Fecha de vencimiento:</label>
                    <input type="text" class="form-control" id="fecha-vecimiento" formControlName="fechaVecimiento" readonly>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <app-tabla-dinamica [configuracionTabla]="configuracionCertificado" [datos]="datosCertificado" [tipoSeleccionTabla]="seleccionTabla"></app-tabla-dinamica>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="cve-registro-productor">Número de certificado de origen:</label>
                    <input type="text" class="form-control" id="cve-registro-productor" formControlName="cveRegistroProductor" readonly>
                </div>
            </div>
        </form>
    }@else if(
        tratado == '100' || tratado == '101' || tratado == '500' || tratado == '501'
    ){
        <app-datos-del-certificado [certificadoDatos]="certificadoDatos"></app-datos-del-certificado>
        <app-datos-del-destinatario [certificadoDatos]="certificadoDatos"></app-datos-del-destinatario>
        <app-domicilio-del-destinatario [certificadoDatos]="certificadoDatos"></app-domicilio-del-destinatario>
        <app-domicilio-tabla [certificadoDatos]="certificadoDatos"></app-domicilio-tabla>
    }@else if(
        tratado == '505' || tratado == '550'
    ){
        <form [formGroup]="certificadoPanama">
            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="observacionesPanama">Observaciones:</label>
                    <textarea id="observacionesPanama" class="form-control" formControlName="observacionesPanama" [readonly]="true" style="height: 80px;"></textarea>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <app-tabla-dinamica [configuracionTabla]="configuracionPanama" [datos]="datosPanama" [tipoSeleccionTabla]="seleccionTabla"></app-tabla-dinamica>
                </div>
            </div>

            <ng-titulo titulo="Datos del tercer operador"/>

            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <label class="form-label" for="nombresPanama">Nombre(s):</label>
                    <input type="text" class="form-control" id="nombresPanama" formControlName="nombres" readonly>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="form-label" for="primer-apellidoPanama">Primer apellido:</label>
                    <input type="text" class="form-control" id="primer-apellidoPanama" formControlName="primerApellidoPanama" readonly>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="form-label" for="segundo-apellidoPanama">Segundo apellido:</label>
                    <input type="text" class="form-control" id="segundo-apellidoPanama" formControlName="segundoApellidoPanama" readonly>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="numero-registro-fiscal-panama">Número de registro fiscal:</label>
                    <input type="text" class="form-control" id="numero-registro-fiscal-panama" formControlName="numeroRegistroFiscalPanama" readonly>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="razon-social-panama">Razón social:</label>
                    <input type="text" class="form-control" id="razon-social-panama" formControlName="razonSocialPanama" readonly>
                </div>
            </div>

            <ng-titulo titulo="Domicilio del tercer operador"/>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="ciudadPanama">Ciudad (población, estado o provincia):</label>
                    <input type="text" class="form-control" id="ciudadPanama" formControlName="ciudadPanama" readonly>
                </div>

                <div class="col-md-6 mb-4">
                    <label class="form-label" for="callePanama">Calle:</label>
                    <input type="text" class="form-control" id="callePanama" formControlName="callePanama" readonly>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="form-label" for="numero-letraPanama">Número y/o letra:</label>
                    <input type="text" class="form-control" id="numero-letraPanama" formControlName="numeroLetraPanama" readonly>
                </div>
                <div class="col-md-4 mb-4">
                    <label class="form-label" for="telefonoPanama">Teléfono:</label>
                    <input type="text" class="form-control" id="telefonoPanama" formControlName="telefonoPanama" readonly>
                </div>
                <div class="col-md-4 mb-4">
                    <label class="form-label" for="faxPanama">Fax:</label>
                    <input type="text" class="form-control" id="faxPanama" formControlName="faxPanama" readonly>
                </div>
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="correo-electronico-panama">Correo electrónico:</label>
                    <input type="text" class="form-control" id="correo-electronico-panama" formControlName="correoElectronicoPanama" readonly>
                </div>
                <div class="col-md-12 mb-4">
                    <label class="form-label" for="paisPanama">País:</label>
                    <textarea id="paisPanama" class="form-control" formControlName="paisPanama" [readonly]="true" style="height: 80px;"></textarea>
                </div>
                
            </div>

            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="numeroCertificadoPanama">Número de certificado de origen:</label>
                    <input type="text" class="form-control" id="numeroCertificadoPanama" formControlName="numeroCertificadoPanama" readonly>
                </div>
            </div>
                
        </form>
    }
</div>
