<div class="container">
    <ng-alert [CONTENIDO]="TEXTOS.ADJUNTAR"></ng-alert>

    <carga-documento
      [idTipoTRamite]="idTipoTRamite"
      [datosUsuario]="datosUsuario"
      [idSolicitud]="idSolicitud"
      [tipoTramite]="'fraccion'"
      [cargaArchivosEvento]="reenviarEvento"
      (cargaRealizada)="documentosCargados($event)"
      [ocultarRequisitosObligatorios]="true"
      (activarBotonCargaArchivos)="manejarEventoCargaDocumento($event)"
      (cargaEnProgreso)="onCargaEnProgreso($event)"
      [omitirValidacionIDocumentos]="true"
    ></carga-documento>
</div>
