@if(slectTramite) {
  <div class="container mt-2">
    <div>
      @if (!esObservacion) {
      <div *ngIf="!firmar">
        <div class="row">
          <div class="col-md-12">
            <h2 class="titulo mt-5 mb-5">Autorizar Requerimiento</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3 mb-3">
            <lib-encabezado-requerimiento [numFolioTramite]="this.guardarDatos.folioTramite"
              [tipoTramite]="this.guardarDatos.tipoDeTramite"></lib-encabezado-requerimiento>
          </div>
        </div>
        <div class="row margin-top">
          @if (config.descargaSolicitud) {
            <ng-container>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <label class="form-label text-title" style="cursor: pointer; text-decoration: underline;"
                         (click)="descargarSolicitud()">
                    Descargar datos de la solicitud
                  </label>
                </div>
              </div>
            </ng-container>
          }
          <ng-container>
             
                <br>
                <ul class="nav nav-tabs">
                  <li [ngClass]="indiceDictamen === 1 ? 'active' : ''">
                    <a data-toggle="tab" (click)="seleccionaTabRequerimiento(1)"
                       (keydown.enter)="seleccionaTabRequerimiento(1)"
                       (keydown.space)="seleccionaTabRequerimiento(1)" role="button" tabindex="0">Requerimiento</a>
                  </li>
                  <li [ngClass]="{'active': indiceDictamen === 2,
                                                  'disabled-tab': deshabilitarSolicitarDocumentos}">
                    <a data-toggle="tab" (click)="seleccionaTabRequerimiento(2)"
                       (keydown.enter)="seleccionaTabRequerimiento(2)"
                       (keydown.space)="seleccionaTabRequerimiento(2)" role="button" tabindex="2">Documentos Requeridos</a>
                  </li>
                </ul>
                <ng-container>
                  @switch (indiceDictamen) {
                    @case (1) {
                      <app-capturar-requerimiento-agricultura
                        [isTipoRequerimiento]="requerimientoConfig.isTipoRequerimiento"
                        [isAreaSolicitante]="requerimientoConfig.isAreaSolicitante "
                        [isJustificacionRequerimiento]="requerimientoConfig.isJustificacionRequerimiento"
                        [iniciarResponse]="this.dataIniciarRequerimiento"
                        [estadoTramite]="this.guardarDatos"
                        [esSoloLectura]="true"
                        (formChanged)="onFormRequerimientoChanged($event)">
                      </app-capturar-requerimiento-agricultura>
                    }
                    @case (2) {
                      <div class="container">
                    <div class="row padding-top">
                      <div class="row">
                        <div class="col-12">
                          <h2 class="fw-bold my-5 titulo-tasks">Documentos</h2>
                          <hr class="red">
                        </div>
                      </div>
                      <div class="col-md-12">
                      <div class="row">
                        <table class="table table-bordered">
                          <thead class="table-light">
                            <tr>
                              <th>Tipo de documento</th>
                              <th>Nombre del archivo</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let documento of this.dataIniciarRequerimiento.documentos">
                              <td>{{documento.tipo_documento}}</td>
                              <td>{{documento.nombre}}</td>
                              <td>
                                @if(documento.documento_uuid){
                                <div class="icono">
                                  <span class="d-flex justify-content-center">
                                    <i class="bi bi-archive" (click)="verDetalleAcuse(documento.documento_uuid, documento.nombre)">
                                    </i>
                                  </span>
                                </div>
                                }
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                    </div>
                    }
                  }
                </ng-container>
                <div class="d-flex justify-content-lg-end h3">
                  <button type="button" class="btn btn-default ms-2" (click)="mostrarFirmarRequerimiento()">Autorizar</button>
                  <button type="button" class="btn btn-default ms-2" (click)="observar()">Observar</button>
                </div>           
            
          </ng-container>
        </div>
      </div>
      <div *ngIf="firmar">
        <div class="row">
          <div class="col-md-12">
            <h2 class="titulo mt-5 mb-5">Firmar</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <firma-electronica [tipo]="''" [cadenaOriginal]="cadenaOriginal || cadenaOriginalRequerimiento"
                               (datosFirma)="obtieneFirma($event)"></firma-electronica>
          </div>
        </div>
      </div>
    }
    @else {
    <div class="row">
      <div class="col-md-12 mt-3 mb-3">
        <lib-encabezado-requerimiento [numFolioTramite]="guardarDatos.folioTramite"
          [tipoTramite]="guardarDatos.tipoDeTramite"></lib-encabezado-requerimiento>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="fw-bold my-5 titulo-tasks">Observación</h2>
        <hr class="red">
      </div>
    </div>
    <form [formGroup]="observacionForm">
      <div class="row">
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <label for="justificacionObservacion" class="form-label">*Justificación de la observación:</label>
          <textarea id="justificacionObservacion" class="form-control text-height"
            formControlName="justificacionObservacion" placeholder="" maxlength="2000" rows="6"
            [ngClass]="isValid('justificacionObservacion') ? 'required' : ''"></textarea>
          @if (observacionForm.get('justificacionObservacion')?.invalid &&
          observacionForm.get('justificacionObservacion')?.touched) {
          <div class="text-danger">
            Este campo es obligatorio.
          </div>
          }
          <div class="text-muted mt-1">
            Máximo 2000 caracteres
          </div>
        </div>
      </div>
    
      <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-end">
          <button type="button" class="btn btn-default me-3" (click)="regresar()">Regresar</button>
          <button type="button" class="btn btn-primary" (click)="generarObservacion()">Generar Observación</button>
        </div>
      </div>
    </form>
    }

      <div class="row mb-5 mt-5">
          <app-reviewers-tabs [viewChild]="viewChild" [tramite]="tramite" [tabs]="tabs" [documentos]="documentosSolicitud"
                              [tareasSolicitud]="tareasSolicitud" [dictamenes]="dictamenesSolicitud"
                              [envioDigital]="envioDigital" [opinion]="opinion"
                              [requerimientos]="requerimientosSolicitud" [acusesResolucion]="acusesResolucion"
                              (viewChildcambioDePestana)="viewChildcambioDePestana($event)"
                              (tabSeleccionado)="onTabSeleccionado($event)">
          </app-reviewers-tabs>
      </div>
    </div>
  </div>
}
@if(nuevaNotificacion) {
  <section>
    <lib-notificaciones [notificacionInput]="nuevaNotificacion">
    </lib-notificaciones>
  </section>
}