<app-complementaria
  [procedimiento]="80301"
  [configuracionFederetios]="configuracionFederetios"
  [configuracionOperacion]="configuracionOperacion"
  [configuracionEmpresas]="configuracionEmpresas"
  [datosSocios]="datosComplimentaria"
  [datosOperacions]="datosOperacions"
  [datosFederetarios]="datosFederetarios"
  [datosServiciosImmex]="datosServiciosImmex"
  [datosEmpresas]="datosEmpresas"
  [datosPlanta]="datosPlanta"
  [certificacionSAT]="certificacionSAT"
  [tipoPrograma]="tipoPrograma"
></app-complementaria>