<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li [ngClass]="indice === 1 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(1)" (keydown.enter)="seleccionaTab(1)"
           (keydown.space)="seleccionaTab(1)" role="button" tabindex="1">Solicitante</a>
      </li>
   
        <li [ngClass]="indice === 2 ? 'active' : ''">
          <a data-toggle="tab" (click)="seleccionaTab(2)" (keydown.enter)="seleccionaTab(2)"
             (keydown.space)="seleccionaTab(2)" role="button" tabindex="2">Datos manifestación</a>
        </li>     

      <li [ngClass]="indice === 3 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(3)" (keydown.enter)="seleccionaTab(3)"
           (keydown.space)="seleccionaTab(3)" role="button" tabindex="3">Información de Acuse de Valor (COVE)</a>
      </li>

      <li [ngClass]="indice === 4 ? 'active' : ''">
        <a data-toggle="tab" (click)="seleccionaTab(4)" (keydown.enter)="seleccionaTab(4)"
           (keydown.space)="seleccionaTab(4)" role="button" tabindex="4">Valor en aduana</a>
      </li>      
    </ul>
    <!-- Contenido de los tabs -->
    <div class="tab-content">

        @if (indice === 1) {
            <solicitante></solicitante>
        }
        @if (indice === 2) {
            <datos-manifestacion></datos-manifestacion>
        }
        @if (indice === 3) {
<!--            <div>Información de Acuse de Valor (COVE)</div>-->
            <informacion-acuse-valor-cove></informacion-acuse-valor-cove>
        }
        @if (indice === 4) {
            <valor-aduana></valor-aduana>
        }
    </div>
  </div>
</div>
