<div class="container">
  <ng-titulo [titulo]="'Complemento de planta'"></ng-titulo>

  <form [formGroup]="complementarForm">
    <div class="form">
      <div class="row">
        <div class="col-md-4">
          <div class="full-width-select">
            <app-catalogo-select [catalogo]="permaneceraMercanciaProgramaOptions"
              [label]="'Permanecerá mercancía al amparo del programa'" [required]="true" name="permanecera"
              formControlName="permanecera"
              (change)="setValoresStore(complementarForm, 'permanecera', 'setPermanecera')"></app-catalogo-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full-width-select">
            <app-catalogo-select [catalogo]="documentoOptions" [label]="'Tipo de documento'" [required]="true"
              name="estado" formControlName="tipo"
              (change)="setValoresStore(complementarForm, 'tipo', 'setTipo')"
              (selectionChange)="tipoDocumentoOnChange($event)"></app-catalogo-select>
          </div>
        </div>
        <div class="col-md-4" *ngIf="complementarForm.get('tipo')?.value === 'TIDCOM.OTRO'">
          <div class="form-group">
            <label for="descripcionOtro" class="form-label">Descripción Otro*:</label>
            <input class="form-control" id="descripcionOtro" formControlName="descripcionOtro">
          </div>
            <div *ngIf="complementarForm.get('descripcionOtro')?.invalid && complementarForm.get('descripcionOtro')?.touched" class="text-danger">
                <small *ngIf="complementarForm.get('descripcionOtro')?.errors?.['required']">Este campo es
                  obligatorio.</small>
                <small *ngIf="complementarForm.get('descripcionOtro')?.errors?.['maxlength']">La descripción no puede exceder los 200
                  caracteres.</small>
              </div>
        </div>
       </div> 
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input-fecha [datos]="fetchaDeFirma" [setFecha]="complementarForm.get('fechaDeFirma')?.value"
                    (valorCambiado)="cambioFechaFinal($event)" [deshabilitarFuturas]="true"></input-fecha>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input-fecha [datos]="fetchaDeFinDeVigencia"
                    [setFecha]="complementarForm.get('fetchaDeFinDeVigencia')?.value"
                    (valorCambiado)="cambioFechaFinale($event)"></input-fecha>
                </div>
              </div>
            </div>
      <div class="mt-4" *ngIf="complementarForm.get('tipo')?.value === 'TIDCOM.CC' || complementarForm.get('tipo')?.value === 'TIDCOM.CSA'">
      <div class="row">
        <div class="col-md-4">
          <div class="full-width-select">
            <app-catalogo-select [catalogo]="documentoDeRespalodoOptions" [label]="'Documento de respaldo'" [required]="true"
              name="documentoRespaldo" formControlName="documentoRespaldo"
              (selectionChange)="tipoDocumentoOnChangeRespaldo($event)"></app-catalogo-select>
          </div>
        </div>
        <div class="col-md-4" *ngIf="complementarForm.get('documentoRespaldo')?.value === 'TIDCOR.OTRO'">
          <div class="form-group">
            <label for="descripcionOtroComodato">Describa*:</label>
            <input type="text" class="form-control" id="descripcionOtroComodato" formControlName="descripcionOtroComodato" maxlength="50" />
            <div *ngIf="complementarForm.get('descripcionOtroComodato')?.invalid && complementarForm.get('descripcionOtroComodato')?.touched" class="text-danger">
              <small *ngIf="complementarForm.get('descripcionOtroComodato')?.errors?.['required']">Este campo es obligatorio.</small>
              <small *ngIf="complementarForm.get('descripcionOtroComodato')?.errors?.['maxlength']">La descripción no puede exceder los 200 caracteres.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4">
          <div class="form-group">
            <input-fecha [datos]="fetchaDeFirma" [setFecha]="complementarForm.get('fechaDeFirmaDocumento')?.value"
              (valorCambiado)="cambioFechaFin($event, 'fechaDeFirmaDocumento')" [deshabilitarFuturas]="true"></input-fecha>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input-fecha [datos]="fetchaDeFinDeVigencia"
              [setFecha]="complementarForm.get('fechaDeFinDeVigenciaDocumento')?.value"
              (valorCambiado)="cambioFechaFin($event, 'fechaDeFinDeVigenciaDocumento')"></input-fecha>
          </div>
        </div>
      </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <p class="mb-0">* Campos obligatorios</p>
          <div>
            <button class="btn btn-default me-2" (click)="limpiar()">Limpiar</button>
            <button class="btn btn-primary" (click)="agregarComplemento()">Agregar Complemento</button>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h6>Complemento de planta</h6>
        <app-tabla-dinamica [configuracionTabla]="complementoDePlantaEncabezado"
          [tipoSeleccionTabla]="complecomplementoDePlantaTableSelection"
          [datos]="complementoDePlantaDatos"  (listaDeFilaSeleccionada)="onSeleccionChange($event)"></app-tabla-dinamica>
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
        </ul>
      </div>
      <div class="row mt-5">
        <div class="col-12 container text-end">
          <button class="btn btn-default me-2" (click)="eliminarComplemento()">Eliminar</button>
          <button class="btn btn-primary" (click)="editarComplemento()">Editar</button>
        </div>
      </div>
      <form class="container" [formGroup]="complimentosPlantaForma">
        <div class="row mt-5">
          <div class="col-md-4">
            <label class="form-label" for="cantidad">RFC*:</label>
            <input class="form-control min-hgt" id="rfcFirmante" formControlName="rfcFirmante" type="text" maxlength="13"
              (change)="setValoresStore(complimentosPlantaForma, 'rfcFirmante', 'setRfcFirmante')" />
          </div>
          <div class="col-md-4">
            <div class="full-width-select">
              <app-catalogo-select [catalogo]="tipoFirmanteCatalogo" [label]="'Tipo de firmante'"
                [required]="true" name="tipoFirmante" formControlName="tipoFirmante"
                (change)="setValoresStore(complimentosPlantaForma, 'tipoFirmante', 'setTipoFirmante')"></app-catalogo-select>
            </div>
          </div>
          <div class="col-md-4 mt-espaciado">
            <button class="btn btn-primary" (click)="agregarFirmante()">Agregar Firmante</button>
          </div>
        </div>
      </form>

      <div class="row mt-5">
        <h6>Complemento de planta</h6>
        <app-tabla-dinamica [configuracionTabla]="complementoPlanta"
          [tipoSeleccionTabla]="complementoPlantaTableSelection" [datos]="complementoPlantaDatos" (listaDeFilaSeleccionada)="onSeleccionPlantaChange($event)"></app-tabla-dinamica>
      </div>
      <div class="row mt-5">
        <div class="col-12 container text-end mt-5">
          <button class="btn btn-default me-2" (click)="eliminarComplementoPlanta()">Eliminar</button>
        </div>
      </div>


      <div class="row mt-5">
        <div class="col-12 container text-end mt-5 mb-5">
          <button class="btn btn-default me-2" (click)="regrasar()">
            Regresar a plantas
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

@if (exitosamenteNotificacion) {
<section class="exito-modal">
  <lib-notificaciones [notificacionInput]="exitosamenteNotificacion">
  </lib-notificaciones>
</section>
}
@if (nuevaNotificacionEditor) {
<section>
  <lib-notificaciones [notificacionInput]="nuevaNotificacionEditor">
  </lib-notificaciones>
</section>
}
@if (nuevaNotificacionEliminar) {
<section>
  <lib-notificaciones [notificacionInput]="nuevaNotificacionEliminar">
  </lib-notificaciones>
</section>
}
@if (nuevaNotificacionFirmante) {
<section>
  <lib-notificaciones [notificacionInput]="nuevaNotificacionFirmante">
  </lib-notificaciones>
</section>
}
