<div class="row">
  <div class="col-md-12 mt-3">
    <h2>Mercancías</h2>
    <hr class="red" />
    <div class="text-center">
      <app-table
        title="Mercancías"
        [tableData]="tableMerchandiseData"
        [borderedStyle]="true"
        [isLoading]="isLoadingMerchandiseDataTable"
        [error]="errorMerchandiseData"
        [textCenterTitleColums]="true"
      />
    </div>

  </div>
  <div class="col-md-12">
    <h2 >Personas</h2>
    <hr class="red" />
     <div class="text-center">
       <app-table
         title="Personas"
         [tableData]="tablePersonData"
         [borderedStyle]="true"
         [isLoading]="isLoadingPersonDataTable"
         [textCenterTitleColums]="true"
         [error]="errorPersonData"
       />
     </div>
  </div>
  </div>
