<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Registro de solicitud AMPLIACION - PROSEC productor directo.</h2>
            </div>
            @if(esFormaValido){
        <div class="col-md-12">
          <ng-alert [CONTENIDO]="formErrorAlert" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
        </div>
        }
            <app-wizard [listaPasos]="pantallasPasos"></app-wizard>
        </div>
        <div class="row">
            @switch (indice) {
                @case (1) {
                    <app-datos #datosRef></app-datos>
                }
                @case (2) {
                    <paso-firma [idSolicitud]="idSolicitudState" [procedure]="90201" [procedureUrl]="'expansion-de-productores/registrar-solicitud'"></paso-firma>
                }
            }

    <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)"></btn-continuar>
        </div>
    </div>
</div>