<app-complementaria
  [procedimiento]="80308"
  [configuracionFederetios]="configuracionFederetios"
  [configuracionOperacion]="configuracionOperacion"
  [configuracionEmpresas]="configuracionTablaImmex"
  [configuracionPlanta]="configuracionManufacturera"
  [datosSocios]="datosComplimentaria"
  [datosFederetarios]="datosFederetarios"
  [datosOperacions]="datosOperacions"
  [datosEmpresas]="datosImmex"
  [datosPlanta]="datosManufacturera"
  [datosServiciosImmex]="datosServicios"
  [certificacionSAT]="formValue"
></app-complementaria>