<div class="page">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h2 *ngIf="indice === 1">Validar a posteriori el certificado de SGP</h2>
        <h2 *ngIf="indice === 2">Firmar</h2>
      </div>
      @if(esFormaValido){
      <div class="col-md-12">
        <ng-alert [CONTENIDO]="formErrorAlert" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
      </div>
      }

      <div class="row mt-5" *ngIf="indice === 2">
        <div class="col-md-12">
          <lib-notificaciones [notificacionInput]="alertaNotificacion"></lib-notificaciones>
        </div>
      </div>
      <app-wizard [listaPasos]="pasos"></app-wizard>
    </div>

    <div class="row">
      @switch (indice) { @case (1) {
      <app-paso-uno #pasoUnoRef></app-paso-uno>
      }
      @case (2) {
      <paso-firma [idSolicitud]="this.solicitudState.idSolicitud" [procedure]="110208"
        [procedureUrl]="'validar-inicialmente/certificado-origen'"></paso-firma>
      }
      }

    </div>
    <div class="row">
      <div class="col-md-12">

        <btn-continuar [datos]="datosPasos" (anteriorEvento)="getValorIndice($event)"
          (continuarEvento)="getValorIndice($event)" (btnGuardarClicked)="obtenerDatosDelStore()"></btn-continuar>
      </div>
    </div>
    @if(indice === 1) {
    <div class="mt-5">
      <div class="row">
        <ng-alert [CONTENIDO]="avisoContrnido"></ng-alert>
      </div>
    </div>
    }
  </div>
</div>