.form-container.consultar-detalle-autorizacion, .direccion-container{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    
}

.form-container, .consultar-detalle-autorizacion > * {
  min-width: 0;
}

.row-1-3{
    grid-column: 4 span ;
}

.row-1-4{
    grid-column: 3 span ;
}

.row-full{
    grid-column: 12 span;
}
.direccion-container, .ubicacion-container{
    display: none;
}
.domicilio-activo, .ubicacion-activo{
    display: block;
    display: grid;
}

.text-left{
    text-align: left;
}

.botones-exortar-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
}

.header-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.body-colapse {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.body-colapse.collapsed {
  max-height: 0;
}


.body-colapse, .header-collapse{
    border: 1px solid #ddd;
}

.btn-accion-form.container {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 3rem;

    button {
        width: fit-content;
    }
}