<div>
  <div>
    <h3>{{ titulo }}</h3>
  </div>
  <form [formGroup]="vigenciaForm">
    <div class="row">
      <div class="col-md-6">
        <input-fecha
          [datos]="fechaInicioConfig"
          [setFecha]="fechaInicioValue"
          (valorCambiado)="onFechaInicioChange($event)"
        ></input-fecha>
      </div>
      <div class="col-md-6" *ngIf="showFechaFin">
        <input-fecha
          [datos]="fechaFinConfig"
          [setFecha]="fechaFinValue"
          (valorCambiado)="onFechaFinChange($event)"
        ></input-fecha>
      </div>
    </div>
  </form>
</div>
