.error-container{
    min-height: 18px;
}

.modal-dialog {
  width: auto;
  max-width: 95vw;
  margin: auto;
}
.modal-content {
  padding: 2rem;
  overflow: auto;
  max-height: 90vh;
}
.modal-body {
  padding: 1rem 1.5rem;
  overflow-y: auto;
  max-height: 95vh;
}
.modal-footer {
  padding: 1rem 1.5rem;
}
.form {
  margin-top: 1rem;
}

.has-error {
  color: #dc3545;
}