<div class="row">
  <acuses-y-resoluciones-folio-del-tramite-detalles 
    [procedureUrl]="'/subsecuentes'"
    [procedureRegresorUrl]="procedureRegresorUrl"
    [datosDeFormulario]="datosDeFormulario"
    [botonesDeAccion]="botonesDeAccion">
  </acuses-y-resoluciones-folio-del-tramite-detalles>
</div>
@if (!esTramiteComun) {
<div class="row">
  <lib-acuses-resoluciones-documentos
    [datosAcuse]="datosAcuse" 
    [datosResoluciones]="datosResoluciones"
    [tramite]="tramite" />
</div>
}
@if (esTramiteComun){
  <libs-acuses-y-resoluciones-tabs-component
  [tramite]="tramite"
  [idSolicitud]="idSolicitud"
  [folioTramite]="folioTramite"
  [listaTramites]="listaTramites"
  ></libs-acuses-y-resoluciones-tabs-component>
}