<app-datos-de-la-solicitud
#datosSolicitudComponent
  *ngIf="tramiteState as state"
  [datosSolicitudFormState]="state.datosSolicitudFormState"
  [scianConfig]="scianConfig"
  [opcionesColapsableState]="state.opcionesColapsableState"
  [tablaMercanciasConfig]="tablaMercanciasConfig"
  [opcionConfig]="opcionConfig"
  [idProcedimiento]="idProcedimiento"
  (datasolicituActualizar)="datasolicituActualizar($event)"
  (opcionSeleccionado)="opcionSeleccionado($event)"
  (scianSeleccionado)="scianSeleccionado($event)"
  (mercanciasSeleccionado)="mercanciasSeleccionado($event)"
  [formularioDeshabilitado]="esFormularioSoloLectura"
  (datosDeTablaSeleccionados)="datosDeTablaSeleccionados($event)"
  [elementosRequeridos]="elementosRequeridos"
></app-datos-de-la-solicitud>