<div class="container">
    <div class="row">
        <ng-container>
          <div class="col-md-3 p-0" style="max-width: 100px;" *ngIf="banderafuncionariorecive">
            <app-menu-funcionario></app-menu-funcionario>
          </div>
          <div class="col-md-9 p-0" style="flex: 1;">
            <lib-bandeja
              [titulo]="'Bandeja de tareas pendientes'"
              [tieneBandeja]="true"
              [tablaTitulo]="'Lista de pendientes'"
              [configuracionTabla]="dePendientesConfiguracionTabla"
              [configuracionTablaDatos]="dePendientesTablaDatos"
              [bandejaSolicitudeDatos]="bandejaDeTareasForma"
              [seleccionadoDepartamento]="selectedDepartamentoObj"
              [duplicarDatos]="copiarDatos"
              [rfcNombre]="rfcValor"
              (obtenerNombreDelDepartamento)="departamento($event)"
              (banderafuncionario)="recibirCambioFuncionario($event)"
            >
            </lib-bandeja>
          </div>
          </ng-container>
    </div>
</div>