/* Estilos de validación para campos inválidos */
.is-invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
    background-image: none !important;
}

.is-invalid:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
    
}

/* Estilo para asteriscos requeridos cuando el campo es inválido */
.label-invalid {
    color: #dc3545;
}

/* Estilo para inputs con clase form-control cuando son inválidos */
.form-control.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}