textarea {
    height: 100px;
}
.desplazado-minimo {
    margin-left: 0.6px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive {
  font-size: 13px;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer !important;
}

.color-icon-eye {
  color: #9f803c;
}

.color-icon-download {
  color: #6f7271;
}

.color-icon-edit {
  color: #9f803c;
}

.color-icon-trash {
  color: #9f803c;
}

.align-icon {
  text-align: justify;
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.sort-down {
  font-size: 1.2rem;
  margin-top: -8px;
  color: #d3d3d3 !important;
  border: none !important;
}

.sort-up {
  font-size: 1.2rem;
  color: #d3d3d3 !important;
  border: none !important;
}

.table-invalid {
  border-collapse: separate;
  border: 1px solid #dc3545;
}

.text-center {
  text-align: center !important;
  vertical-align: middle;
}
