.mnx {
    white-space: nowrap;
}
.text-height {
    height: 100px;
}
.ml-6px {
  margin-left: 6px;
}

::ng-deep .full-width-select app-catalogo-select > div {
  width: 100% !important;  /* makes child’s top-level div full width */
  display: block !important;
}

::ng-deep .full-width-select app-catalogo-select select.form-select {
  width: 100% !important;  
  max-width: 100% !important;
  display: block !important;
}
