<app-datos-del-destinatario
  [datosForm]="formDatosDelDestinatarioValues"
  [idProcedimiento]="110201"
  (formDatosDelDestinatarioEvent)="setValoresStore($event)"
  (formaValida)="setFormValida($event)"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
></app-datos-del-destinatario>

<app-destinatario
  [paisDestino]="paisDestino"
  (paisDestionSeleccionEvent)="paisDestinSeleccion($event)"
  [idProcedimiento]="110201"
  [paisDestinoError]="paisDestinoError"
  [paisDestin]="(paisDestin$ | async) || []"
  (formDestinatarioEvent)="setValoresStoreDe($event)"
  [datosForm]="formDestinatarioValues"
  (formaValida)="setFormValidaDestinatario($event)"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
></app-destinatario>

<app-detalles-del-transporte
[idProcedimiento]="110201"
[medioTransporte]="(medioDeTransporte$ | async) || []"
(formaValida)="setFormValidaDestinatario($event)"
(medioDeTransporteSeleccionEvent)="medioDeTransporteSeleccion($event)"
[datosForm]="formMedioTransporteValues"
[esFormularioSoloLectura]="esFormularioSoloLectura"
></app-detalles-del-transporte>

