<div class="container p-4">
    <ng-container *ngIf="!showTipoPersonaForm; else formTemplate">
        <div class="mb-2 text-primary small">
            Antecesor <span class="text-secondary">| Activo</span>
        </div>
        <ng-titulo titulo="Trámites disponibles"></ng-titulo>
        <div class="p-5 bg-light rounded shadow-sm">
            <p class="mb-5 text-center fs-4">Por favor seleccione el tipo de Solicitud que desea realizar</p>
            <div class="row text-center align-items-start">
                <div class="col-md-6 mb-4">
                    <button class="btn btn-primary mb-4 rounded-pill" (click)="onSolicitudesSubsecuentes()">
                        Solicitudes Subsecuentes
                    </button>
                    <p class="px-3 fs-4 text-justify">
                        Solicitudes que ya cuenten con una resolución con sentido autorizado y vigentes, de las cuales se requiere realizar una Prorroga, Renovación, Cancelación etc. Esto dependiendo del tipo de solicitud y los tiempos ya definidos para poder ser ingresadas. ***Para solicitudes subsecuentes de la Secretaria de Economía, favor de ingresar a las opciones de S.E. en "Solicitudes Nuevas"
                    </p>
                </div>
                <div class="col-md-6 mb-4">
                    <button class="btn btn-primary mb-4 rounded-pill">
                        Solicitudes Nuevas
                    </button>
                    <p class="px-3 fs-4 text-justify text-center">
                        Solicitudes que se van a generar por primera vez
                    </p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #formTemplate>
        <app-tipo-persona-form></app-tipo-persona-form>
        <div class="mt-4">
            <button class="btn btn-link p-0 text-decoration-none" (click)="showTipoPersonaForm = false">
                <i class="bi bi-arrow-left"></i> Regresar a trámites disponibles
            </button>
        </div>
    </ng-template>
</div>