<div class="page">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1>Manifestación de valor</h1>
        </div>
       
        <app-wizard [listaPasos]="pasos"></app-wizard>
      </div>
  
<div class="row">
        @switch (indice) { @case (1) {
        <app-paso-uno></app-paso-uno>
        } @case (2) {
        <div>aqui debe ir el componente del paso 2</div>
        } @case (3) {
        <div>aqui debe ir el componente del paso 3</div>
        } @case (4) {
        <div>aqui debe ir el componente del paso 4</div>
        }
        @default {
          <app-paso-uno></app-paso-uno>
        }
        }
  
      </div>

      <div class="row">
        <div class="col-md-12">
          
            <btn-continuar
              [datos]="datosPasos"
              [btnGuardar]="btnGuardar"
              [btnGuardarVisible]="btnGuardarVisible"
              (continuarEvento)="getValorIndice($event)"
              (anteriorEvento)="getValorIndice($event)"
              [btnHabilitarContinuar] = "true"
              (btnGuardarClicked)="guardarDatosFormulario()"
            ></btn-continuar>
          
        </div>
      </div>

                    <div class="row">
                      <ng-alert [CONTENIDO]="alertText"></ng-alert>
                    </div>
    </div>
  </div>