<form [formGroup]="formEvaluarMercancia">
    
    <ng-titulo titulo="Datos de la mercancía"></ng-titulo>

    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="nombreComercialEvaluar" class="form-label">Nombre comercial de la mercancía (igual que en la factura)</label>
            <input type="text" id="nombreComercialEvaluar" class="form-control" formControlName="nombreComercialEvaluar">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="nombreInglesEvaluar" class="form-label">Nombre en inglés</label>
            <input type="text" id="nombreInglesEvaluar" class="form-control" formControlName="nombreInglesEvaluar">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="fraccionArancelariaEvaluar" class="form-label">Fracción arancelaria</label>
            <input type="text" id="fraccionArancelariaEvaluar" class="form-control" formControlName="fraccionArancelariaEvaluar">
        </div>
        <div class="col-md-8 mb-3">
            <label for="nombreTecnicoEvaluar" class="form-label">Nombre técnico</label>
            <textarea id="nombreTecnicoEvaluar" class="form-control" formControlName="nombreTecnicoEvaluar"></textarea>
        </div>
    </div>

    <div class="row" *ngIf="formEvaluarMercancia.get('precioFrancoFabricaEvaluar')?.value">
        <div class="col-md-4 mb-3">
            <label for="precioFrancoFabricaEvaluar" class="form-label">Precio franco fábrica (en dólares)</label>
            <input type="text" id="precioFrancoFabricaEvaluar" class="form-control" formControlName="precioFrancoFabricaEvaluar">
        </div>
    </div>  
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="valorTransaccionEvaluar" class="form-label">Valor de transacción</label>
            <input type="text" id="valorTransaccionEvaluar" class="form-control" formControlName="valorTransaccionEvaluar">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="tipoExportadorEvaluar" class="form-label">Tipo de exportador</label>
            <input type="text" id="tipoExportadorEvaluar" class="form-control" formControlName="tipoExportadorEvaluar">
        </div>
    </div>
</form>
