.modal-insumo {
  width: 360px !important;
  max-width: 360px !important;
}
::ng-deep .full-width-select select.form-select {
  max-width: none !important;
}
::ng-deep .seleccion-personalizada select.form-select {
  max-width: 100% !important;
}