<div class="container">
    <form [formGroup]="form">

        @if(esSolicitud){
        <!--Solicitud Tabla-->
        <app-solicitud-datos [tablaHeadData]="hSolicitud" [tablaFilaDatos]="dSolicitud" [procedimiento]="procedimiento"></app-solicitud-datos>
        }
        <!--Datos del tramite a realizar-->
        <app-datos-del-tramite-a-realizar claveDeControl="datoseDelTramiteRealizar" [procedimiento]="procedimiento"
            [formularioDeshabilitado]="formularioDeshabilitado" [formValida]="formValida"></app-datos-del-tramite-a-realizar>

        <!--Responsable inspeccion en punto-->
        <app-responsable-inspeccion-en-punto claveDeControl="responsableInspeccionEnPunto"
            [formularioDeshabilitado]="formularioDeshabilitado" [formValida]="formValida" [procedimiento]="procedimiento"></app-responsable-inspeccion-en-punto>

        <!--Medio de transporte-->
        <app-medio-transporte claveDeControl="mediotransporte" [mercanciaLista]="mercanciaLista" [mediodetransporte]="mediodetransporte" [formularioDeshabilitado]="formularioDeshabilitado"></app-medio-transporte>
      <!-- Cantidad de carros de ferrocarril -->

        @if (mostrarSeccion) {
        <!--Cantidad de carros de ferrocarril 2-->
        <app-carros-de-ferrocarril [tablaHeadData]="hCarroFerrocarril" [tablaFilaDatos]="dCarrosDeFerrocarril"
            [formularioDeshabilitado]="formularioDeshabilitado" [procedimiento]="procedimiento"></app-carros-de-ferrocarril>

        <!-- Historial inspeccion fisica -->
        <app-historial-inspeccion-fisica [tablaHeadData]="hHistorialinspeccion"
            [tablaFilaDatos]="dHistorialInspecciones"
            [formularioDeshabilitado]="formularioDeshabilitado" [procedimiento]="procedimiento"></app-historial-inspeccion-fisica>
        }
    </form>
</div>