.form-rfc-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.botones-accion-tabla{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 2rem;
}