<div class="mt-5">
  <ng-titulo [titulo]="'Plantilla de carga masiva'"></ng-titulo>
  <ng-alert (click)="plantillaClick()" class="alert-centro" [CONTENIDO]="TEXTOS.INSTRUCCIONES"></ng-alert>
  <div class="d-flex justify-content-between">
    <div>
      <input #fileInput type="file" id="fileInput" (change)="onFileChange($event)" />
      <p *ngIf="mensajeError" class="mensaje-error">{{mensajeError}}</p>
    </div>

    <div>
      <button type="button" (click)="cargarArchivo()" class="btn btn-primary ms-3">
        Cargar archivo
      </button>
      <button type="button" (click)="limpiarArchivo()" class="btn btn-default ms-3">
        Limpiar
      </button>
    </div>
  </div>
</div>