<form [formGroup]="manifestForm" autocomplete="off">
  <div class="row mt-5">
    <!-- First column -->
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <label
          >Manifiesto
          <span class="form-text form-text-error">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="manifestNumber"
          [ngClass]="{
            'form-control-error': formUtils.formHasError(manifestForm, 'atLeastOneRequired', 'manifestNumber')
          }"
        />
        <ng-container *ngIf="formUtils.formHasError(manifestForm, 'atLeastOneRequired', 'manifestNumber')">
          <small class="form-text form-text-error">
            {{ formUtils.getTextError(manifestForm.errors) }}
          </small>
        </ng-container>
      </div>
    </div>

    <!-- Second column -->
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="form-group">
        <label
          >Número de vuelo
            <span class="form-text form-text-error">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="numFlight"
          [ngClass]="{
            'form-control-error': formUtils.formHasError(manifestForm, 'atLeastOneRequired', 'numFlight')
          }"
        />
        <ng-container *ngIf="formUtils.formHasError(manifestForm, 'atLeastOneRequired', 'numFlight')">
          <small class="form-text form-text-error">
            {{ formUtils.getTextError(manifestForm.errors) }}
          </small>
        </ng-container>
      </div>
    </div>
  </div>
</form>
