<app-historico-productores
  (formHistoricoEvent)="setValoresStore($event)"
  (agregarDatosProductorFormularioEvent)="setValoresStoreAgregarForm($event)"
  [tramiteState]="tramiteState"
  [agregarDatosProductor]="agregarDatosProductor"
  [productoresExportador]="productoresExportador || []"
  [agregarProductoresExportador]="(agregarProductoresExportador$ | async) || []"
  [mercanciaDatos]="mercanciaProductores || []"
  [ocultarFax]="ocultarFax"
  [esTipoDeSeleccionado]="esTipoDeSeleccionado"
  [optionsTipoFactura]="optionsTipoFactura || []"
  [sortMercanciasTablaOrder]="true"
  (emitAgregarExportador)="emitAgregarExportador($event)"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
  (formaValida)="formaValida($event)"
  (emitMercanciaDatos)="setMercanciaDatos($event)"
></app-historico-productores>
