<div class="container">
  <div class="row">
    <ng-titulo [titulo]="'Valor en aduana'"></ng-titulo>
  </div>
  <form [formGroup]="formularioValorAduana">
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="form-label text-start" for="importePagado">Importe total del precio pagado ( Sumatoria de los conceptos y deberán ser declarados en M N)*:</label          >
                <input
                    class="form-control"
                    id="importePagado"
                    formControlName="importePagado"
                    placeholder=""
                    name="importePagado"
                    type="text"
                    (change)="setValoresStore()" 
                    [maxlength]="30"
                />
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label text-start" for="importePorPagar">Importe total del precio por pagar ( Sumatoria de los conceptos y deberán ser declarados en M N)*:</label          >
                <input
                    class="form-control"
                    id="importePorPagar"
                    formControlName="importePorPagar"
                    placeholder=""
                    name="importePorPagar"
                    type="text"
                    (change)="setValoresStore()" 
                    [maxlength]="30"
                />
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label text-start" for="importeIncrementales">Importe total de incrementables ( Sumatoria de los conceptos y deberán ser declarados en M N)*:</label          >
                <input
                    class="form-control"
                    id="importeIncrementales"
                    formControlName="importeIncrementales"
                    placeholder=""
                    name="importeIncrementales"
                    type="text"
                    (change)="setValoresStore()" 
                    [maxlength]="30"
                />
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label text-start" for="importeDecrementales">Importe total de decrementables ( Sumatoria de los conceptos y deberán ser declarados en M N)*:</label          >
                <input
                    class="form-control"
                    id="importeDecrementales"
                    formControlName="importeDecrementales"
                    placeholder=""
                    name="importeDecrementales"
                    type="text"
                    (change)="setValoresStore()" 
                    [maxlength]="30"
                />
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label text-start" for="totalValorAduana">Total del valor en aduana ( Sumatoria de los conceptos y deberán ser declarados en M N)*:</label          >
                <input
                    class="form-control"
                    id="totalValorAduana"
                    formControlName="totalValorAduana"
                    placeholder=""
                    name="totalValorAduana"
                    type="text"
                    (change)="setValoresStore()" 
                    [maxlength]="30"
                />
            </div>            
        </div>
    </form>
  </div>
