.tabla-productos-contenedor {
    height: 28rem;
    overflow: hidden;
    overflow-y: scroll;
    width: 80dvw;
}

.seccion-instrumento {
    display: flex;
    gap: 3rem;

    div {
        display: flex;
        flex-direction: column;
    }
}

.celda-agregar-tratado {
    width: 37%;
}

.action-buttons-container {
    display: flex;
    justify-self: self-end;
    gap: 3rem;
}