@if(showModal) {
<libs-modal [show]="showModal" (closed)="cerrarModal()" tituloModal="Consultar fracciones">
  <modal-body>
    <div class="eliminar-fraccion container">
      <section class="busqueda-fracciones bg-light">
        <header>
          <p>Consulta de fracciones</p>
          <p>Seleccione criterios de búsqueda de fracciones arancelarias y presione buscar.</p>
        </header>

        <form (ngSubmit)="consultarPorId()">
          <label for="clasificacion">* Número de Clasificación Arancelaria</label>
          <div>
            <input id="clasificacion" type="text" size="10" class="input" [(ngModel)]="idBusqueda" name="clasificacion">

            <button type="submit" class="btn btn-primary">Consultar</button>
          </div>
        </form>

      </section>
      <br />
      <section class="tabla-fracciones bg-light">
        <p>Seleccione individualmente una fracción para ver su detalle.</p>

        <header>
          <p>Fracciones Arancelarias</p>
        </header>

        <div class="tabla-wrapper">
          <tabla-fracciones [datos]="datos" [columnas]="columnas">
          </tabla-fracciones>

        </div>
      </section>
    </div>
  </modal-body>
  <modal-footer>
  </modal-footer>
</libs-modal>
}