<app-datos-del-destinatario
  [datosForm]="solicitudState.formDatosDelDestinatario"
  [idProcedimiento]="110212"
  (formDatosDelDestinatarioEvent)="setValoresStore($event)"
  (formaValida)="setFormValida($event)"
  [esFormularioSoloLectura]="soloLectura"
></app-datos-del-destinatario>

<app-destinatario
  [idProcedimiento]="110212"
  (formDestinatarioEvent)="setValoresStore($event)"
  [datosForm]="solicitudState.formDestinatario"
  (formaValida)="setFormValidaDestinatario($event)"
    [esFormularioSoloLectura]="soloLectura"
></app-destinatario>

<app-representante-legal-exportador
    [procedimiento]="'110212'"
    [datosForm]="grupoRepresentativoValues"
    (formDatosDelDestinatarioEvent)="setValoresStore1($event)"
  ></app-representante-legal-exportador>

