<div class="container">
  @if (indice !== 2) {
  <div class="row">
    <div class="col-md-12">
      <h1>Retorno de importación temporal (formato general)</h1>
    </div>
  </div>}
  @if (indice === 2) {
  <div class="=row">
    <div class="col-md-12">
      <h2>Cargar archivos</h2>
      <ng-alert [CONTENIDO]="alerta" [CUSTOMECLASS]="infoAlert"></ng-alert>
    </div>
  </div>}
  @if(esFormaValido){
    <div class="col-md-12">
      <ng-alert
        [CONTENIDO]="formErrorAlert"
        [CUSTOMECLASS]="'alert-danger'"
      ></ng-alert>
    </div>
  } 
  <app-wizard [listaPasos]="pantallasPasos"></app-wizard>
  <div>
    @switch (indice) {
    @case (1) {
    <app-paso-uno #pasoUnoRef (tabChanged)="onTabChanged()" (continuarPaso)="continuarPaso()"></app-paso-uno>
    }
    @case (2) {
    <app-paso-dos></app-paso-dos>

    }
    @case (3) {
    <app-paso-tres></app-paso-tres>
    }
    }
  </div>
  <btn-continuar [datos]="datosPasos" (continuarEvento)="onContinuarEvento($event)"></btn-continuar>
  @if (indice === 1) {
  <ng-alert [CONTENIDO]="TEXTOS" [CUSTOMECLASS]="infoAlert"></ng-alert>
  }
</div>