.busqueda-documentos-container {
    width: 80rem;
    max-width: 80vw;
    display: flex;

    form {
        display: flex;
        justify-content: space-between;
        width: 100%;

        div {
            width: 80%;
        }

        div input {
            width: 100%;
        }

        button {
            height: fit-content;
            align-self: flex-end;
        }
    }

    .agregar-documento-container {
        margin-left: auto;
    }

}

.documentos-fraccion-tabla {
    table {
        width: 80rem;
        max-width: 80vw;
    }
}


.tabla-fracciones {
    margin: none;
}

.fixed-header {
    position: sticky;
    top: -2px;
    z-index: 1;
    background-color: white;
    /* Necesario para que no sea transparente */
}

.scrollable {
    overflow-y: auto;
    max-height: 35rem;
}


.footer-actions {
    display: flex;
    justify-content: space-between;
}
.botones-footer{
    display: flex;
    gap: 1rem;
}