<app-datos-del-tramite [datosMercanciaTabla]="datosMercanciaTabla"
  (updateDatosDelTramiteFormulario)="updateDatosDelTramiteFormulario($event)"
  [datosDelTramiteFormState]="datosDelTramiteFormState" [idProcedimiento]="idProcedimiento"
  [esFormularioSoloLectura]="formularioDeshabilitado" (openModal)="openModal($event)"
  (cancelarEventListener)="cerrar.emit()" [usarBotonesPersonalizados]="usarBotonesPersonalizados"
  [aduanasDisponiblesLabelTipo]="usarBotonesPersonalizados"
  (eliminarMercanciaFinalEvent)="eliminarMercanciasDatos($event)"></app-datos-del-tramite>
<div><app-modal #modal></app-modal></div>