<div class="container">
    <ng-titulo titulo="Requisitos opcionales" />
  
    <ng-alert [CONTENIDO]="TEXTOS.INSTRUCCIONES" [CUSTOMECLASS]="infoAlert"></ng-alert>
  
    <!-- <anexar-documentos [catalogoDocumentos]='catalogoDocumentos'></anexar-documentos> -->
    <carga-documento
      [idTipoTRamite]="idTipoTRamite"
      [datosUsuario]="datosUsuario"
      [idSolicitud]="idSolicitud"
      [cargaArchivosEvento]="reenviarEvento"
      (cargaRealizada)="documentosCargados($event)"
      (activarBotonCargaArchivos)="manejarEventoCargaDocumento($event)"
    ></carga-documento>
    <div class="text-right">
         <div class="pull-left text-muted text-vertical-align-button" id="lblCamposObligatorios">
              {{ mensajeCamposObligatorios }}
            </div>
        <button type="button" class="btn btn-danger me-3">
            Cancelar
        </button>
         <button type="submit"  class="btn btn-primary" (click)="continuar()">
           Continuar
        </button>
    </div>

  </div>