
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <ul class="nav nav-tabs">
                <li *ngFor="let tab of seccionesDeLaSolicitud" [ngClass]="indice === tab.index ? 'active' : ''">
                <a data-toggle="tab" (click)="seleccionaTab(tab.index)" (keydown.enter)="seleccionaTab(tab.index)"
                    tabindex="0">{{ tab.title }}</a>
            </li>
        </ul>
    </ul>
    <ng-container>
            <solicitante #solicitanteRef [hidden]="indice !== 1"></solicitante>
            <app-domicilios-de-plantas [hidden]="indice !== 2"></app-domicilios-de-plantas>
            <app-sectores-y-mercancias #sectoresRef [hidden]="indice !== 3"></app-sectores-y-mercancias>
            <app-productor-indirecto #productorIndirectoRef [hidden]="indice !== 4"></app-productor-indirecto>
        </ng-container>
        <!-- <ng-container>
            @switch (indice) {
                @case(1) {
                    <app-solicitante #solicitanteRef></app-solicitante>
                }
                @case (2) {
                    @if(esDatosRespuesta){
                   <app-domicilios-de-plantas #domiciliosRef></app-domicilios-de-plantas>
                    }
                }
                @case(3) {
                     @if(esDatosRespuesta){
                    <app-sectores-y-mercancias #sectoresRef></app-sectores-y-mercancias>
                     }
                }
                @case(4) {
                     @if(esDatosRespuesta){
                    <app-productor-indirecto #productorIndirectoRef></app-productor-indirecto>
                     }
                }

            }
        </ng-container> -->
    </div>
</div>