:host {
  display: block;
}

.text-height {
    height: 100px;
}

.radio-button {
    .seleccion-radio {
        margin-top: 0px;
    }

    .control-label {
        margin: 0px;
        padding: 10px 0px;
    }
}

.container-box {
    box-shadow: 0px 0px 4px 0px #00000040;
    gap: 24px;
    padding: 40px 32px 32px 24px;
}

.bg-gray {
    background-color: #f5f5f5;
}

.txt-shadows {
    margin: 16px;
    padding: 0px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive {
  font-size: 13px;
}
.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}
.mercancia-readonly {
  background-color: #e9ecef9d !important; 
  color: #6c757df0;
  cursor: not-allowed;
}
.big-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}