.tabla-fracciones {
    font-size: 10pt;
    margin: none;
}

.fixed-header {
    position: sticky;
    top: -2px;
    z-index: 1;
    background-color: white;
    /* Necesario para que no sea transparente */
}

.scrollable {
    overflow-y: auto;
    max-height: 15rem;
}

.paginador {
    display: flex;

    button {
        border: none;
        height: 2rem;
    }
}

.footer-actions {
    display: flex;
    justify-content: space-between;
    font-size: 10pt;

    p {
        font-size: 10pt;
    }
}