<div class="container">
    <h2 class="titulo titulo-gold mb-5">Consultar Configuración de programa</h2>
    <section id="inmex-registrar" class="registrar-config-container bg-light p-5">
        <div>
            INMEX
            <p class="required-text">Datos requeridos</p>
        </div>
        <div class="tipo-programa-container">
            <div>
                Tipo programa:
            </div>
            <div>INMEX</div>
        </div>
        <div>
            <label for="tratamiento-especial">
                <p><span style="color: red;">* </span> Tratamiento especial</p>
            </label>
            <br />
            <select name="tratamiento-especial" id="tratamiento-especial" [(ngModel)]="tratamientoEspecialSeleccionado">
                @for (tratamiento of listaTratamientoEspecial; track tratamiento.id) {
                <option [value]="tratamiento.id">
                    {{ tratamiento.name }}
                </option>
                }
            </select>

        </div>
        <div class="button-buscar">
            <button type="button" (click)="buscarTratamientos()" class="btn btn-primary ">Buscar</button>
        </div>
    </section>
    <br />
    <section class="bg-light p-5">
        <p>Haga doble click para seleccionar el programa</p>
        <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="tramitesConsultados"
            (filaClic)="onFilaClic($event)" [showPagination]="true" [mode]="'client'"
            [totalItems]="tramitesConsultados.length" [itemsPerPage]="10" />
    </section>
    <br />
</div>