<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-4 fw-bold">
        Registro de pago anual derecho de autorizaciones para despacho por LDA
      </h4>
    </div>
  </div>

  @if( showAlert) {
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <div class="alert alert-info bg-opacity-10 border-info">
        La cuota del año {{ anioAlert }} para el pago anual de derechos fue registrada correctamente.
      </div>
    </div>
  </div>
  }

  <ng-titulo [titulo]="'Datos del trámite a realizar'"></ng-titulo>

  <form [formGroup]="form" class="row g-3 align-items-end mt-2 mb-4">
    <div class="col-md-4 m">
      <label class="fw-bold">Año*:</label>
      <select class="form-control form-select" formControlName="anio">
        <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label class="fw-bold">Cuota * :</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input
          type="text"
          class="form-control"
          formControlName="cuota"
          placeholder="0.0"
          (input)="validarSoloNumeros($event, 'cuota')"
        />
      </div>
    </div>

    <div class="col-md-4 d-flex gap-2">
      <button
        type="button"
        class="btn btn-primary px-4"
        (click)="onGuardar()"
        [disabled]="form.invalid"
      >
        Guardar
      </button>
      <button type="button" class="btn btn-danger px-4" (click)="onCancelar()">
        Cancelar
      </button>
    </div>
  </form>

  <div class="row mt-4">
    <div class="col-md-12">
      <app-tabla-dinamica
        [configuracionTabla]="configuracionTabla"
        [datos]="pagos"
        [showRowNumber]="true"
      ></app-tabla-dinamica>
      <app-table-pagination [showCurrentPage]="true"></app-table-pagination>
    </div>
  </div>
</div>
