<div class="container">
  <ng-titulo titulo="Requisitos opcionales" />

  <ng-alert [CONTENIDO]="TEXTOS"></ng-alert>

  <carga-documento [idTipoTRamite]="'240111'" [datosUsuario]="datosUsuario" [cargaArchivosEvento]="reenviarEvento"
    [regresarSeccionCargarDocumentoEvento]="reenviarRegresarSeccion" (cargaRealizada)="documentosCargados($event)"
    (activarBotonCargaArchivos)="manejarEventoCargaDocumento($event)" (cargaEnProgreso)="onCargaEnProgreso($event)"
    [idSolicitud]="this.idSolicitud" [esPrellenado]="this.esPrellenado"></carga-documento>
</div>