.form-busqueda-container {
    display: flex;

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        flex: 1;

        .form-field {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
            }
        }
    }

    .btn-form-action {
        display: flex;
        align-self: self-end;

        button {
            height: fit-content;
        }
    }
}