.eliminar-fraccion.container {
    width: 800px;
    p{
        font-size: 12pt;
    }
}

.busqueda-fracciones{
    form{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            gap: 1rem;
        }
    }
}

.busqueda-fracciones, .tabla-fracciones{
    padding: 1rem;
}