<div class="container" [formGroup]="formOrdenServiciosTratamiento">
  <div class="row">


    <div class="col-md-12 col-lg-10">
      <ng-titulo [titulo]="'Datos del producto a tratar'" />
    </div>

    <div class="col-md-4">
      <label class="form-label" for="descripcionProducto">Descripción del producto:</label>
      <input class="form-control" id="descripcionProducto" type="text" formControlName="descripcionProducto"
             [ngClass]="{ required: isInvalid('descripcionProducto')}" />
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('descripcionProducto')!"></app-error-requerido>
    </div>

    <div class="col-md-4">
      <label class="form-label" for="productoAplicado">Producto aplicado:</label>
      <input class="form-control" id="productoAplicado" type="text" formControlName="productoAplicado"
             [ngClass]="{ required: isInvalid('productoAplicado')}" />
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('productoAplicado')!"></app-error-requerido>
    </div>

    <div class="col-md-4">
      <label class="form-label" for="dosis">Dosis:</label>
      <input class="form-control" id="dosis" type="text" formControlName="dosis"
             [ngClass]="{ required: isInvalid('dosis')}" />
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('dosis')!"></app-error-requerido>
    </div>

    <div class="col-md-4">
      <label class="form-label" for="cantidadTratar">Cantidad a tratar:</label>
      <input class="form-control" id="cantidadTratar" type="text" formControlName="cantidadTratar"
             [ngClass]="{ required: isInvalid('cantidadTratar')}" />
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('cantidadTratar')!"></app-error-requerido>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Unidad de medida:</label>
        <select class="form-control form-select" formControlName="unidadMedida"
                [ngClass]="{ required: isInvalid('unidadMedida')}"
                [attr.disabled]="true">
          <option [ngValue]="null">Seleccione una unidad</option>
          <option *ngFor="let tipo of unidadMedidaComercial" [title]="tipo.descripcion" [value]="tipo.clave">
            {{ tipo.descripcion }}
          </option>
        </select>
      </div>
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('unidadMedida')!"></app-error-requerido>
    </div>

    <div class="col-md-12 col-lg-10">
      <ng-titulo [titulo]="'Tratamiento'" />
    </div>

    <div class="col-md-4">
      <label class="form-label" for="especificacionTratamiento">Especificación del tratamiento:</label>
      <input class="form-control" id="especificacionTratamiento" type="text" formControlName="especificacionTratamiento"
             [ngClass]="{ required: isInvalid('especificacionTratamiento')}" />
      <app-error-requerido
        [form]="formOrdenServiciosTratamiento.get('especificacionTratamiento')!"></app-error-requerido>
    </div>

    <div class="col-md-4">
      <label class="form-label" for="tiempoExposicion">Tiempo de exposición:</label>
      <input class="form-control" id="tiempoExposicion" type="text" formControlName="tiempoExposicion"
             [ngClass]="{ required: isInvalid('tiempoExposicion')}" />
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('tiempoExposicion')!"></app-error-requerido>
    </div>

    <div class="col-md-8">
      <div class="d-flex flex-column">
        <label class="control-label">
          <input class="form-check-input me-3" type="radio" name="aplicarA" formControlName="aplicarA"
                 value="TITRT.PR" />
          Producto</label>
        <label class="control-label">
          <input class="form-check-input me-3" type="radio" name="aplicarA" formControlName="aplicarA"
                 value="TITRT.EM" />
          Empaque y/o embalaje</label>
        <label class="control-label">
          <input class="form-check-input me-3" type="radio" name="aplicarA" formControlName="aplicarA"
                 value="TITRT.TR" />
          Transporte</label>
      </div>
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('aplicarA')!"></app-error-requerido>
    </div>

    <div class="col-md-8">
      <label class="form-label" for="observacionesTratamiento">Observaciones del tratamiento:</label>
      <textarea class="form-control" id="observacionesTratamiento"
                [ngClass]="{ required: isInvalid('observacionesTratamiento')}"
                formControlName="observacionesTratamiento" rows="5"></textarea>
      <app-error-requerido
        [form]="formOrdenServiciosTratamiento.get('observacionesTratamiento')!"></app-error-requerido>
    </div>

    <div class="col-md-12 col-lg-10">
      <ng-titulo [titulo]="'Datos generales'" />
    </div>

    <div class="col-md-8">
      <label class="form-label" for="nombreEmpresaAprobada">Nombre de la empresa aprobada:</label>
      <input class="form-control" id="nombreEmpresaAprobada" type="text" formControlName="nombreEmpresaAprobada"
             [ngClass]="{ required: isInvalid('nombreEmpresaAprobada')}" />
      <app-error-requerido [form]="formOrdenServiciosTratamiento.get('nombreEmpresaAprobada')!"></app-error-requerido>
    </div>

    <div class="col-md-12">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-default" (click)="visualizar()">
          Visualizar
        </button>
      </div>
    </div>
  </div>
</div>