<div class="container">
    <div class="row">
     <ul class="nav nav-tabs">
  <li
    *ngFor="let tab of tabs; let i = index"
    [ngClass]="indice === tab.id ? 'active' : ''"
  >
    <a
      data-toggle="tab"
      (click)="seleccionaTab(tab.id)"
      (keydown.enter)="seleccionaTab(tab.id)"
      (keydown.space)="seleccionaTab(tab.id)"
      role="button"
      [tabindex]="i + 1"
    >
      {{ tab.label }}
    </a>
  </li>
</ul>
      <ng-container>
        @if(esDatosRespuesta){
        <solicitante [tabindex]="1" [hidden]="indice !== 1"></solicitante>
        <app-contenedor-de-datos-solicitud [hidden]="indice !== 2"></app-contenedor-de-datos-solicitud>
        <app-terceros-relacionados-vista [hidden]="indice !== 3"></app-terceros-relacionados-vista>
        <app-pago-de-derechos-contenedora [hidden]="indice !== 4"></app-pago-de-derechos-contenedora>
        }
      </ng-container>
    </div>
  </div>
  
