.container {
  margin: 5px;
}

.required {
  color: red;
  border: none;
}

input.form-control.is-invalid[readonly] {
  border: 1px solid #dc3545 !important;
  background-color: #f8f9fa;
}

select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

.umt-readonly {
  background-color: #f8f9fa !important;
  border: 1px solid #ced4da;
}
.umt-readonly.is-invalid {
  border: 1px solid #dc3545 !important;
}