<app-datos-del-destinatario
  [datosForm]="formDatosDelDestinatarioValues"
  [idProcedimiento]="110208"
  (formDatosDelDestinatarioEvent)="setValoresStore($event)"
  (formaValida)="setFormValida($event)"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
></app-datos-del-destinatario>

<app-destinatario
  [paisDestino]="paisDestino"
  (paisDestionSeleccionEvent)="paisDestinSeleccion($event)"
  [idProcedimiento]="110208"
  [paisDestin]="(paisDestin$ | async) || []"
  (formDestinatarioEvent)="setValoresStoreDe($event)"
  [datosForm]="formDestinatarioValues"
  (formaValida)="setFormValidaDestinatario($event)"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
></app-destinatario>

<app-detalles-del-transporte
[idProcedimiento]="110208"
  [esFormularioSoloLectura]="esFormularioSoloLectura"
[medioTransporte]="(medioDeTransporte$ | async) || []"
  (formTransporteEvent)="setValoresStoreTransporte($event)"
(medioDeTransporteSeleccionEvent)="medioDeTransporteSeleccion($event)"
(formaValida)="setFormValidaDestinatario($event)"
[datosForm]="formTransporteValues"
></app-detalles-del-transporte>
