// Force red border for select inside app-catalogo-select when .is-invalid is present on the wrapper
.col-md-8.mt-3 app-catalogo-select.is-invalid ::ng-deep select.form-select {
    border: 1px solid #f0c3c7 !important;
    border-radius: 0.25rem;
}
.ht{
    height: 100px;
}
.ht2{
    height: 50px;
}
.table-container{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: scroll;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
textarea{
    overflow-y: auto;
}