.box-select-combo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}

.box-select-combo .bloque-disponible {
    grid-column: 1/4;
}

.box-select-combo .bloque-acciones {
    grid-column: 4/6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-select-combo .bloque-seleccionados {
    grid-column: 6/9;

}

.box-select-combo .bloque-disponible,
.box-select-combo .bloque-seleccionados {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
}

.bloque-paises {
    background-color: #ffffff;
    flex-grow: 1;
}

.bloque-paises .seleccionado{
    background-color: #dedbdb;
}
.celda-agregar-tratado, .celda-fecha{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}