<div class="container mt-5">
    <ng-alert [CONTENIDO]="TEXTOS.Importante"></ng-alert>
    <div class="row mb-3">
        <h5>Fabricante*:</h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionTabla" [datos]="fabricanteTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                (filaClic)="onRowClick($event, 'fabricante')">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura || !selectedItemFabricante"
                    (click)="modificarTerceroSeleccionado('fabricante')">
                    Modificar
                </button>
                <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura || !selectedItemFabricante"
                    (click)="eliminarTerceroSeleccionado('fabricante')">
                    Eliminar
                </button>
                <button type="button" class="btn btn-primary" (click)="agregarTercero('fabricante')" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>Facturador*:</h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionFacturadorTabla" [datos]="facturadorTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                (filaClic)="onRowClick($event, 'facturador')">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura || !selectedItemFacturador"
                    (click)="modificarTerceroSeleccionado('facturador')">
                    Modificar
                </button>
                <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura || !selectedItemFacturador"
                    (click)="eliminarTerceroSeleccionado('facturador')">
                    Eliminar
                </button>
                <button type="button" class="btn btn-primary" (click)="agregarTercero('facturador')" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>Proveedor/distribuidor:</h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionProveedorTabla" [datos]="proveedorTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                (filaClic)="onRowClick($event, 'proveedor')">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura || !selectedItemProveedor"
                    (click)="modificarTerceroSeleccionado('proveedor')">
                    Modificar
                </button>
                <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura || !selectedItemProveedor"
                    (click)="eliminarTerceroSeleccionado('proveedor')">
                    Eliminar
                </button>
                <button type="button" class="btn btn-primary" (click)="agregarTercero('proveedor')" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>Certificado analítico:</h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionCertificadoAnaliticoTabla"
                [datos]="certificadoAnaliticoTablaDatos" [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                (filaClic)="onRowClick($event, 'certificado')">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura || !selectedItemCertificado"
                    (click)="modificarTerceroSeleccionado('certificado')">
                    Modificar
                </button>
                <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura || !selectedItemCertificado"
                    (click)="eliminarTerceroSeleccionado('certificado')">
                    Eliminar
                </button>
                <button type="button" class="btn btn-primary" (click)="agregarTercero('certificado')" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h5>Otros:</h5>
        <div class="col-md-12">
            <app-tabla-dinamica [configuracionTabla]="configuracionOtrosTabla" [datos]="otrosTablaDatos"
                [tipoSeleccionTabla]="checkbox" [disableSeleccionTablaCheckBox]="esFormularioSoloLectura"
                (filaClic)="onRowClick($event, 'otros')">
            </app-tabla-dinamica>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-default" [disabled]="esFormularioSoloLectura || !selectedItemOtros"
                    (click)="modificarTerceroSeleccionado('otros')">
                    Modificar
                </button>
                <button type="button" class="btn btn-danger ms-2" [disabled]="esFormularioSoloLectura || !selectedItemOtros"
                    (click)="eliminarTerceroSeleccionado('otros')">
                    Eliminar
                </button>
                <button type="button" class="btn btn-primary" (click)="agregarTercero('otros')" [disabled]="esFormularioSoloLectura">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Modal component for terceros fabricante -->
    <app-terceros-relacionados-modal-popup
        *ngIf="configuracionModalFabricante && mostrarModalFabricante"
        [configuracion]="configuracionModalFabricante"
        [mostrarModal]="mostrarModalFabricante"
        [modo]="modoModal"
        [datosEdicion]="datosEdicion"
        [idProcedimiento]="261101"
        [esFormularioSoloLectura]="esFormularioSoloLectura"
        (guardarDatos)="onGuardarFabricante($event)"
        (cancelar)="onCancelarModal()"
        (cerrarModal)="onCerrarModal()">
    </app-terceros-relacionados-modal-popup>
</div>