<form [formGroup]="modificacionForm" (ngSubmit)="validarDestinatarioFormulario()">
<div class="row mt-5">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="registroFederalContribuyentes">Registro Federal de Contribuyentes:</label>
        <input class="form-control gris-color" type="text" id="registroFederalContribuyentes" formControlName="registroFederalContribuyentes" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="representacionFederal">Representación federal:</label>
        <input class="form-control gris-color" type="text" id="representacionFederal" formControlName="representacionFederal" readonly >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="tipoModificacion">Tipo de modificación:</label>
        <input class="form-control gris-color" type="text" id="tipoModificacion" formControlName="tipoModificacion" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-label" for="modificacionPrograma">Modificación de programa:</label>
        <input class="form-control gris-color" type="text" id="modificacionPrograma" formControlName="modificacionPrograma" readonly>
      </div>
    </div>
  </div>
  
  <!-- Lista de domicilios -->
  <ng-titulo titulo="Lista de sectores" />
  <app-tabla-dinamica [tipoSeleccionTabla]="tablaSeleccion.BUTTON" [configuracionTabla]="listaTabla" [desactivarButton]="soloLectura" (alternarValor)="onFilaClic($event)" [datos]="listaSectoresDatos" ></app-tabla-dinamica>
</form>