<div class="container">
  <div class="row">
    <ng-titulo [titulo]="'Información del acuse de valor (COVE)'"></ng-titulo>
  </div>
  <div class="row">
    <form [formGroup]="formularioAgregarCove">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="agregarCove" class="form-label">
            Acuse de Valor (COVE)
          </label>
          <input
            class="form-control"
            id="agregarCove"
            formControlName="coveBusqueda"
            palceholder=""
            name="agregarCove"
            type="text"
          />
        </div>
        <div class="col-md-8 form-group">
          <label for="metodoValoracionAduanera" class="form-label">
            Método de Valoración aduanera
          </label>
          <input
            class="form-control"
            id="metodoValoracionAduanera"
            formControlName="metodoValoracionAduanera"
            palceholder=""
            name="metodoValoracionAduanera"
            type="text"
          />
        </div>
        <div class="col-md-12">
          <div>
            <button style="float: right; margin-top: 30px;" class="btn btn-primary me-2" tyoe="button" (click)="agregarCove()">Agregar</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-tabla-dinamica
            [tipoSeleccionTabla]="tipoSeleccion"
            [configuracionTabla]="configuracionColumnas"
            [datos]="cuerpoTablaAcuseDeValorConsulta"
            (listaDeFilaSeleccionada)="seleccionTabla()"
          ></app-tabla-dinamica>
        </div>
      </div>
    </form>
  </div>
</div>
