<app-historico-productores
    (formHistoricoEvent)="setValoresStore($event)"
    (agregarDatosProductorFormularioEvent)="setValoresStoreAgregarForm($event)"
    [tramiteState]="tramiteState"
    [agregarDatosProductor]="agregarDatosProductor"
    [productoresExportador]="productoresExportador || []"
    [agregarProductoresExportador]="(agregarProductoresExportador$ | async) || []"
    [mercanciaDatos]="(tramiteQuery.selectmercanciaTabla$ | async) || []"
    [ocultarFax]="ocultarFax"
    [esTipoDeSeleccionado]="esTipoDeSeleccionado"
    [optionsTipoFactura]="optionsTipoFactura || []"
    [esFormularioSoloLectura]="esFormularioSoloLectura"
    [sortMercanciasTablaOrder]="true"
    (emitAgregarExportador)="emitAgregarExportador($event)" 
    (emitMercanciaDatos)="setMercanciaDatos($event)"
    (eliminarEventoExportador)="eliminarEventoExportador($event)"
    (formaValida)="formaValida($event)"
    ></app-historico-productores>