.tabla-productos-contenedor {
    height: 28rem;
    overflow: hidden;
    overflow-y: scroll;
    width: 80dvw;
}

.celda-agregar-tratado {
    width: 37%;
}

.action-buttons-container {
    display: flex;
    justify-self: self-end;
    gap: 3rem;
}

#categoria-textil #bontes-accion{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.modal-textil{
    width: 70rem;
    display: flex;
    flex-direction: column;
    .form-group{
        width: 30rem;
    }
    .botones-textil{
        display: flex;
        justify-content: end;
        gap: 2rem;
    }
}