<ng-titulo titulo="Datos del establecimiento"></ng-titulo>
<div class="row mt-5">
  <div class="col-md-8"></div>
  <div class="col-md-4 d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="abrirModal()"  [disabled]="esFormularioSoloLectura">
      Seleccionar establecimiento
    </button>
  </div>
</div>
<form [formGroup]="datosdelestablecimiento">
  <div class="row mt-5">
    <div class="col-md-8 form-group">
      <label class="form-label" for="motivoDesistimiento">Denominación o razón social*: </label>
      <input formControlName="denominacion" id="motivoDesistimiento" name="motivoDesistimiento" type="text" class="form-control"
        (change)="setValoresStore(datosdelestablecimiento,'denominacion')">
    </div>
  </div>
</form>