.radio-button {
    .seleccion-radio {
        margin-top: 0px;
    }

    .control-label {
        margin: 0px;
        padding: 10px 0px;
    }
}

.text-height {
    height: 100px;
}

.is-invalid {
    border-color: #dc3545;
}

.radio-invalid {
  border: 2px solid red;
  padding: 8px;
  border-radius: 6px;
}

::ng-deep .full-width-select app-catalogo-select > div {
  width: 100% !important;  /* makes child’s top-level div full width */
  display: block !important;
}

::ng-deep .full-width-select app-catalogo-select select.form-select {
  width: 100% !important;  
  max-width: 80% !important;
  display: block !important;
}
.full-width-select {
  padding-left: 15px;
  padding-right: 15px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive {
  font-size: 13px;
}
.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.mercancia-readonly {
  background-color: #e9ecef9d !important; 
  color: #6c757df0;
  cursor: not-allowed;
}
.big-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

::ng-deep crosslist .form-label {
  text-align: left !important;
}