<app-datos-del-destinatario
  [datosForm]="formDestinatarioValues['grupoReceptor']"
  [esFormularioSoloLectura]="soloLectura"
  [idProcedimiento]="110217"
  (formDatosDelDestinatarioEvent)="setValoresStoreDatosDestinatario($event)"
  (formaValida)="setFormValidaDatosDestinatario($event)"
  [isContinuarTriggered]="isContinuarTriggered"
  #datosDelDestinatarioRef>
</app-datos-del-destinatario>

<app-destinatario
  [datosForm]="formDestinatarioValues['grupoDeDirecciones']"
  [esFormularioSoloLectura]="soloLectura"
  [idProcedimiento]="110217"
  [paisDestino]="false"
  [ocultarLada]="false" 
  [ocultarFax]="false"
  [data]="[]"
  [paisDestin]="[]"
  (formaValida)="setFormValidaDestinatario($event)"
  (formDestinatarioEvent)="setValoresStoreDestinatario($event)"
  [isContinuarTriggered]="isContinuarTriggered"
  #destinatarioRef>
</app-destinatario>

<app-representante-legal-exportador
  [datosForm]="formDestinatarioValues['grupoRepresentativo']"
  [procedimiento]="'110217'"
  (formaValida)="setFormValidaRepresentanteLegal($event)"
  (formDatosDelDestinatarioEvent)="setValoresStoreRepresentante($event)"
  [isContinuarTriggered]="isContinuarTriggered"
  #representanteRef>
</app-representante-legal-exportador>

<app-detalles-del-transporte
  [datosForm]="formDestinatarioValues['grupoDeTransporte']"
  [idProcedimiento]="110217"
  [medioTransporte]="[]"
  (formaValida)="setFormValidaTransporte($event)"
  (formTransporteEvent)="setValoresStoreTransporte($event)"
  #transporteRef>
</app-detalles-del-transporte>
