.btn-container-gfa{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.required-text{
    color: red;
    content: "* ";
    font-size: small;
}
.btn-container-actions{
    display: flex;
    gap: 1rem;
}
#inmex-registrar.registrar-config-container {
    display: flex;
    flex-direction: column;
}
.tipo-programa-container{
    display: flex;
    gap: 5rem;
}

.button-buscar{
    display: flex;
    place-content: flex-end;
}