<div class="alert alert-info m-3 mt-4" [innerHTML]="mensaje"></div>

<div [formGroup]="formHojaTrabajo">
  <div class="col-md-12 col-lg-10">
    <ng-titulo [titulo]="'Requiere'" />
  </div>
  <div class="col-md-8">
    <div class="row">
      <label class="control-label">
        <input class="form-check-input me-3" type="checkbox" name="requiereTomaTratamiento"
               formControlName="requiereToma" value="true" id="requiereTomaTratamiento"
        />
        Toma de muestra</label>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <label class="control-label">
        <input class="form-check-input me-3" type="checkbox" name="requiereTomaTratamiento"
               formControlName="requiereTratamiento" value="false" />
        Tratamiento</label>
    </div>
  </div>

  <div class="col-md-12 col-lg-10">
    <ng-titulo [titulo]="'Aleatorio'" />
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="rfc">
        <strong>No. Fleje</strong>
        <span class="p-2" tooltip="No. Fleje" placement="top">
                  <i class="bi bi-question-circle-fill"></i>
                </span>
      </label>
      <input type="text" class="form-control" id="fleje" value="" formControlName="fleje"
             [ngClass]="{ required: isInvalid('fleje')}">
    </div>
    <app-error-requerido [form]="formHojaTrabajo.get('fleje')!"></app-error-requerido>
  </div>
</div>
<div class="col-md-12">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-default" (click)="visualizar()">
      Visualizar
    </button>
  </div>
</div>
