.modal-dialog {
    max-width: 1100px !important;
}

.modal-body {
    margin: 25px 25px 0px 25px;
}

.modal-footer {
    margin: 0px 25px 25px 0px;
}

.textarea {
    height: 50px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1055;
}

.custom-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;

    .title {
        background-color: black;

        h5 {
            background-color: black;
            color: white;
            height: 55px;
            text-align: center;
            margin: 0;
            line-height: 55px;
        }
    }
}

::ng-deep app-input-radio form {
    display: flex;

    :first-child {
        padding-right: 25px
    }
}

.mt-19 {
    margin-top: 19px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.pd-0 {
    padding: 0 !important;
}

/* Haz que el asterisco sea rojo cuando el campo tenga errores de validación */
::ng-deep .form-group.has-error label .require,
.form-group:has(.is-invalid) label .require,
label:has(+ input.is-invalid) .require,
label:has(+ input-fecha.is-invalid) .require,
label:has(+ app-catalogo-select .required) .require,
.has-error .form-label,
.has-error label .require, .require.has-error {
    color: #dc3545 !important;
}

.error-message{
    right: 457px;
    position: relative;
}

::ng-deep app-catalogo-select.required {
    border: none !important;
}

::ng-deep app-catalogo-select.required .form-select {
    border: #fe4a47 1px solid !important;
}

::ng-deep app-catalogo-select .form-label {
    border: none !important;
}

::ng-deep .is-invalid-date {
    border: #fe4a47 1px solid !important;
}

::ng-deep .invalid-date-label-asterisk {
    color: #dc3545 !important;
}

.table-info-box {
    width: 53px;
    height: 27px;
    border: 1px gray solid;
    padding-left: 16px;
    margin-left: 5px;
}