<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Asignación directa de cupo personas morales (ampliación)</h1>
      </div>
    </div>
    @if (isPeligro) {
      <div class="col-md-12">
        <ng-alert [CONTENIDO]="formErrorAlert" [CUSTOMECLASS]="'alert-danger'"></ng-alert>
      </div>
    }

    <app-wizard [listaPasos]="pasos"></app-wizard>
   @switch (indice) {
    @case (1) {
     <app-solicitante-entidad #entidadRef [isContinuarTriggered]="isContinuarTriggered"></app-solicitante-entidad>
     }
    @case (2) {
    <app-paso-carga-documento 
        [idSolicitud]="solicitudState.idSolicitud"
        [idTipoTRamite]="'120404'"
        [cargaArchivosEvento]="cargarArchivosEvento"
        (reenviarEventoCarga)="manejaEventoCargaDocumentos($event)"
        (reenviarCargaRealizada)="cargaRealizada($event)"
        (cargaEnProgreso)="onCargaEnProgreso($event)"
        (enBlancoObligatoria)="onBlancoObligatoria($event)"
      ></app-paso-carga-documento>
    }
    @case (3) {
      <paso-firma [idSolicitud]="solicitudState.idSolicitud" [procedure]="120404" [procedureUrl]="'entidad-legal/soliciante'"></paso-firma> 
    }
 }    
   @if  (indice !== 2){
    <btn-continuar [datos]="datosPasos" (continuarEvento)="getValorIndice($event)" [dePadre]="true"></btn-continuar>}
     @else {
        <div class="mt-5 mb-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-default"
            (click)="anterior()"
            *ngIf="seccionCargarDocumentos"
          >
            Anterior
          </button>

          <button
            class="btn btn-primary ms-3"
            (click)="
              seccionCargarDocumentos ? onClickCargaArchivos() : siguiente()
            "
            [disabled]="(seccionCargarDocumentos && !activarBotonCargaArchivos) || (!seccionCargarDocumentos && cargaEnProgreso)"
          >
            {{ seccionCargarDocumentos ? 'Cargar archivos' : 'Continuar' }}
          </button>
        </div>
        }
       <ng-alert [CONTENIDO]="avisoContrnido"></ng-alert> 
</div>


