<div class="container">
  <ng-titulo titulo="Requisitos opcionales" />

  <ng-alert [CONTENIDO]="TEXTOS.INSTRUCCIONES" [CUSTOMECLASS]="claseAlertaInformativa"></ng-alert>

  <carga-documento
    [idTipoTRamite]="idTipoTramite"
    [idSolicitud]="idSolicitud"
    [datosUsuario]="datosUsuario"
    [cargaArchivosEvento]="cargaArchivosEvento"
    [regresarSeccionCargarDocumentoEvento]="regresarSeccionCargarDocumentoEvento"
    (cargaRealizada)="onCargaRealizada($event)"
    (activarBotonCargaArchivos)="onActivarBotonCarga($event)"
    (cargaEnProgreso)="onCargaEnProgreso($event)">
  </carga-documento>
</div>
