<div class="container">
  <div class="row">
    <ng-titulo [titulo]="'Modificación de datos Acuse de Valor (COVE)'"></ng-titulo>
  </div>
    <div class="row">
        <form [formGroup]="formularioDatosAcuseValorCove">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="acuseValor">
                    <strong>Acuse de Valor (COVE):</strong>                
                    </label>
                    <input type="text" class="form-control" formControlName="acuseValor" id="acuseValor" >
                </div>
            </div>
            <div class="col-md-8">
                <app-catalogo-select [catalogo]="metodoValoracionList" formControlName="metodoValoracion" 
                    [label]="'Método de Valoración aduanera*:'"
                    [required]="true" name="metodoValoracion">
                </app-catalogo-select>
            </div>
            <div class="col-md-12">
                <app-catalogo-select [catalogo]="incotermList" formControlName="incoterm" 
                    [label]="'INCOTERM*:'"
                    [required]="true" name="incoterm">
                </app-catalogo-select>
            </div>
                     <div class="row mt-2">
            <div class="col-md-12">
               <label for="existeVinculacion">¿Existe vinculación entre importador y vendedor/proveedor?*:</label>
            </div>
            <div class="col-md-12">
               <app-input-radio [radioOptions]="radioOptions" [isRequired]="true" [layout]="'horizontal'"
                  formControlName="existeVinculacion" (change)="radioChange()"
                  [disabled]="false"></app-input-radio>
            </div>
         </div>
        </form>
    </div>
    <div class="row">
    <ng-titulo [titulo]="'Pedimento'"></ng-titulo>
  </div>
      <div class="row">
        <form [formGroup]="formularioPedimento">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="pedimento">
                    <strong>Pedimento:</strong>                
                    </label>
                    <input type="text" class="form-control" formControlName="pedimento" id="pedimento" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="patente">
                    <strong>Patente:</strong>                
                    </label>
                    <input type="text" class="form-control" formControlName="patente" id="patente" >
                </div>
            </div>
            <div class="col-md-4">
                <app-catalogo-select [catalogo]="aduanaList" formControlName="aduana" 
                    [label]="'Aduana:'"
                    [required]="true" name="aduana">
                </app-catalogo-select>
            </div>            
        </form>
    </div>
  </div>