.form-control {
    height: auto !important;
}
/* Agrega esto en tu archivo CSS del componente */
.form-label::after {
    content: '*';
    color: #dc3545; /* rojo de Bootstrap */
    margin-left: 2px;
}

/* Para labels opcionales sin asterisco */
.form-label.optional::after {
    content: '';
}