@if(showModal){
<libs-modal [show]="showModal" (closed)="cerrarModal()" tituloModal="Carga de Fracción(es) por archivo"
    textoBotonCerrar="Cancelar">
    <modal-body>
        <section class="carga-archivos-container">
            <div>
                <p>Archivo :</p>
                <input id="file" type="file" />
            </div>
            <button class="btn btn-primary btn-cargar-archivo">
                Cargar
            </button>
        </section>
    </modal-body>
    <modal-footer />
</libs-modal>
}