<div class="datepicker-group">
  <label class="control-label" for="calendar">{{ label }}</label>
  <input
    #dp="bsDatepicker"
    type="text"
    class="form-control"
    bsDatepicker
    [bsValue]="initialValue"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [bsConfig]="bsConfig"
    [disabled]="isDisable"
    [placeholder]="placeholder || 'Selecciona una fecha'"
    (bsValueChange)="onChangeValue($event)"
    (blur)="handleBlur()"
    (onHidden)="handleBlur()"
    [ngClass]="{
      'form-control-error': hasError
    }"
  />
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
</div>
